/* 容器样式 */
.container {
  /* margin: 0 auto; */
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}



@media (min-width:1000px) {
  .btn {
    position: fixed;
    left: 50px;
    top: 100px;
    color: white;
    background-color: rgb(116, 210, 253);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    padding: 20px;
  }

  .refresh-icon {
    width: 50px;
  }
}

@media (max-width:1000px) {
  .btn {
    position: fixed;
    left: 100px;
    top: 100px;
    color: white;
    background-color: rgb(116, 210, 253);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    padding: 40px;
  }

  .refresh-icon {
    width: 200px;
  }
}