/* 容器样式 */
.container {
  /* margin: 0 auto; */
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}



@media (min-width:1000px) {
  .btn {
    position: fixed;
    width: 200px;
    height: 60px;
    left: 30px;
    top: 100px;
    color: white;
    background-color: rgb(116, 210, 253);
    border: none;
    border-radius: 32px;
    cursor: pointer;
  }
}

@media (max-width:1000px) {
  .btn {
    position: fixed;
    width: 600px;
    height: 200px;
    left: 100px;
    top: 150px;
    color: white;
    background-color: rgb(116, 210, 253);
    border: none;
    border-radius: 100px;
    cursor: pointer;
  }
}